<!DOCTYPE html>
<html lang="en">
<head>
  <style>
    body {
      font-family: 'Arial', sans-serif;
      background-color: #f4f4f4;
      margin: 0;
      padding: 0;
    }

    h1 {
      color: #333;
    }

    form {
      max-width: 400px;
      margin: 20px auto;
      padding: 20px;
      background-color: #fff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      border-radius: 5px;
    }

    label {
      display: block;
      margin-bottom: 8px;
      color: #555;
    }

    input {
      width: 100%;
      padding: 8px;
      margin-bottom: 16px;
      box-sizing: border-box;
    }

    button {
      background-color: #3498db;
      color: #fff;
      padding: 10px 15px;
      border: none;
      border-radius: 3px;
      cursor: pointer;
    }

    button:hover {
      background-color: #1e87d3;
    }
  </style>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>User home</title>
</head>
<body>
  <h1>Home: User</h1>
  <span><h3>Name: <%= user.name %></h3></span>
  <span><h3>Email: <%= user.email %></h3></span>


  <span><h3>Profile Image:<a href = "/page/<%= user.profileImage %>"><%= user.profileImage %></a></h3></span>
  <form action="/user/update" method="POST" enctype="multipart/form-data">
    <label for="profileImage">Profile Image URL:</label>
    <input type="file" id="profileImage" name="profileImage" value="<%= user.profileImage %>" />
    
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" value="<%= user.name %>" />


    <button type="submit">Update Profile</button>
  </form>

  <form action="/user/delete" method="POST" onsubmit="return confirm('Are you sure you want to delete your profile?');">
    <button type="submit">Delete Profile</button>
  </form>
  <form action="/user/logout" method="POST" onsubmit="return confirm('Do you want to logout?');">
    <button type="submit">Logout</button>
  </form>
  
</body>
</html>
